<h1 class="users"> <%= link_to "Current Students", "/users" %> </h1>
<!-- <p>
<%= @time %>
</p> -->
<div class="pic">
<%= image_tag 'logo-blue.png' %>
</div>


<!-- <p class='users'>
<%= link_to "All Users", "/users" %>
</p> -->
